
services:
  bun:
    build: .
    container_name: bun-dev
    working_dir: /app
    volumes:
      - .:/app
    ports:
      - "3000:3000"
      - "8787:8787"
    tty: true
    stdin_open: true
    env_file:
      - ./app/.env
    environment:
      - NODE_ENV=development

